#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#container {
  font-family: 'Nunito', 'Inter', 'Roboto', 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
  height: 20%;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

main {
  display: flex;
  height: 100%;
  justify-content: center;
}

#modal-login {
  justify-items: center;
  justify-content: center;
  height: 60vh;
  width: 60vh;
  border-radius: 16px;
  border-color: white;
  border: 4px solid;
  background: linear-gradient(to bottom,
      #f9fafd 0%,
      #eef3ff 50%,
      #e4edff 80%,
      #dbe7ff 100%);
  box-shadow:
    0 0 10px rgba(0, 0, 0, 0.05),
    0 5px 12px rgba(0, 0, 0, 0.12);
}

#title-login {
  color: #416092;
  font-size: 2em;
  font-weight: 500;
  padding-top: 25px;
}

#email-login {
  box-shadow:
    0 0 5px rgba(0, 0, 0, 0.05),
    0 1px 5px rgba(0, 0, 0, 0.12);
  width: 80%;
  min-height: 60px;
  color: #416092;
  margin-top: 35px;
  display: flex;
  align-items: center;
  border-radius: 8px;
}

#email-login-input {
  height: 100%;
  border: none;
  flex: 1;
  outline: none;
}

#password-login {
  box-shadow:
    0 0 5px rgba(0, 0, 0, 0.05),
    0 1px 5px rgba(0, 0, 0, 0.12);
  width: 80%;
  min-height: 60px;
  color: #416092;
  margin-top: 18px;
  display: flex;
  align-items: center;
  border-radius: 8px;
}

#password-login-input {
  height: 100%;
  border: none;
  flex: 1;
  outline: none;
}

#button-login {
  background: linear-gradient(135deg, #5B8CFF, #6FA8FF, #4F7CFF);
  color: white;
  border: none;
  outline: none;
  border-radius: 12px;
  margin-top: 48px;
  min-height: 50px;
  width: 80%;
  font-size: larger
}

#button-login:hover {
  box-shadow: 0 6px 12px rgba(79, 124, 255, 0.45);
  background: linear-gradient(135deg, #4F7CFF, #6FA8FF, #5B8CFF);
}

#sign-up {
  margin-top: 24px;
  font-size: larger
}

#container-dashboard-habits {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #f3f7ff;
  background-image:
    radial-gradient(at 0% 50%, rgba(157, 143, 255, 0.7) 0, transparent 70%),
    radial-gradient(at 100% 100%, rgba(79, 124, 255, 0.6) 0, transparent 60%),
    radial-gradient(at 100% 0%, rgba(186, 213, 255, 0.5) 0, transparent 50%),
    radial-gradient(at 50% 50%, rgba(255, 255, 255, 0.3) 0, transparent 80%);
  background-attachment: fixed;
  height: 100%;
  width: 100%;
}

#top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  min-height: 7%;
  background-color: #416092;
  align-items: center;
  display: flex;
  gap: 20px;
  padding: 0 24px;
}

#left-top {
  display: flex;
  align-items: center;
  gap: 12px;
  min-width: 180px;
}

#title-habits {
  left: 0;
  font-size: 24px;
  font-weight: 700;
  margin-left: 0px;
}

#options-top-bar {
  display: flex;
  align-items: center;
  gap: 20px;
  min-width: 140px;
  justify-content: flex-end;
  margin-right: 24px;
}

#search-top-bar {
  background-color: #b5bee3;
  justify-content: space-between;
  box-shadow:
    0 0 5px rgba(0, 0, 0, 0.05),
    0 1px 5px rgba(0, 0, 0, 0.12);
  width: 30%;
  min-height: 30px;
  color: #416092;
  display: flex;
  align-items: center;
  border-radius: 8px;
}

#search-top-bar-input::placeholder {
  font-weight: 400;
  color: #416092;
  opacity: 1;
}

#search-top-bar-input {
  font-weight: 500;
  height: 100%;
  border: none;
  flex: 1;
  outline: none;
}

#container-dashboard-finance {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #fdfefe;
  background-image:
    radial-gradient(circle at 15% 20%, rgba(255, 223, 120, 0.25), transparent 40%),
    radial-gradient(circle at 85% 80%, rgba(120, 170, 255, 0.25), transparent 45%),
    linear-gradient(180deg, #ffffff 0%, #f7f9fc 100%);
  background-attachment: fixed;
  height: 100%;
  width: 100%;
}

#calendar-container {
  position: relative;
  border-radius: 12px;
  background: linear-gradient(135deg, #918aee 0%, #b7d7f6 100%);
  max-width: 20em;
  margin-left: 58px;
  margin-top: 12px;
  padding-bottom: 12px;
  padding-top: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#button-view-calendar {
  background-color: #dfe0f2;
  color: #416092;
  box-shadow:
    0 0 5px rgba(0, 0, 0, 0.05),
    0 1px 5px rgba(0, 0, 0, 0.12);
  width: 45%;
  display: block;
  align-self: flex-start;
  margin-left: 10px;
  max-height: 32px;
  padding: 0;
  border-radius: 4px;
  margin-bottom: 12px;
}

#option-calendar {
  background: linear-gradient(135deg,
      #cdd9ff 0%,
      #dbe4ff 35%,
      #eef2ff 100%
    );
  color: #3f5f9a;

  padding: 8px 12px 0px 12px;
  width: 95%;
  text-align: left;
}

#calendar-divider {
  height: 1px;
  width: 95%;              /* 👈 tamaño de la línea */
  background-color: #c9c9c9;
  margin: 8px auto 0 auto; /* 👈 centrada */
  opacity: 0.5;
}

#title-select-date {
  display: block;        
  text-align: left;
  width: 100%;
  padding-left: 24px;
  font-size: larger;
  margin-bottom: 12px;
  font-weight: 600;
}

.first-item {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

/* 🔻 Solo el último redondeado abajo */
.last-item {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}